## Visual Studio & .NET
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.booproj
*.svclog
*_wpftmp.csproj

## JetBrains Rider & VS Code
.idea/
.vscode/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## Package Directories
packages/
*.nupkg
*.snupkg
